<div id="printpreview" class="modal fade" tabindex="-1" aria-labelledby="#printpreview" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-transparent">
            <div class="modal-header text-danger card-header1">
                <h5 class="modal-title mt-0" id="modal-typedocument"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gradient-dark">
                <iframe class="hidden1" id="printer-contenair">
                </iframe>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <a href="~/Views/_Shared/PartialViews/Printer_contenair.cshtml">~/Views/_Shared/PartialViews/Printer_contenair.cshtml</a>
</div>
