
@{
    ViewBag.Title = "Portail principal";
    Layout = "~/Views/_Shared/_BlankLayout.cshtml";
}
<div class="my-5 pt-sm-5">
    <div class="container">
        <div class="row">


            @using (Html.BeginForm("FileManager2Partial","Manage",FormMethod.Get))
            {
                @Html.Action("FileManager2Partial", "Manage")
            }


        </div>
        
    </div>
</div>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<!-- owl.carousel js -->
<script src="~/assets/libs/owl.carousel/owl.carousel.min.js"></script>
<!-- init js -->
<script src="~/assets/js/pages/auth-carousel.init.js"></script>

<script src="~/assets/js/app.js"></script>
