
<div class="modal fade" id="archive-open-file" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="archive-open-file1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen border border-0 bg-light" style="text-align:center!important;width:100%!important;">
        <div class="modal-content border border-0" style="text-align:left!important;position:center;width:100%">
            <div class="modal-header m-0" style="background-color: #2689a6 ">
                @*<h5 class="modal-title mt-0 text-white" id="archive-open-file1" style="font:bold"><i class="mdi mdi-clock"></i> Choisir une date</h5>*@
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body bg-transparent border border-0" style="width:100%;height:279mm;text-align:center;">
                @*<img src="@Url.Content("~/assets/images/IU/document-loading.gif")" style="position:absolute;z-index:200;margin-top:auto;margin-bottom:auto" id="img-pre-iframe0" alt="" />*@
                <iframe id="iframe-archive-open-file" class="pdf-view loader-none" src="" style="width:100%;height:100%;"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    
</script>