

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Geretrix.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block mt-4">
                    Developpé par <a href="https://themesbrand.com/" target="_blank" class="text-reset"> Interactiv Business Services</a>
                </div>
            </div>
        </div>
    </div>
</footer>