<!-- start page title -->
@*<div class="row mt-1">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">
                @{
                    if (!string.IsNullOrEmpty(ViewBag.pageImage))
                    {
                        <img class="rounded avatar-xl" style="height:20px;width:20px;margin-top:-8px;margin-right:10px" src="@Url.Content(ViewBag.pageImage)" data-holder-rendered="true">
                    }
                }
                @ViewBag.pTitle
            </h4>
        </div>
    </div>
</div>*@
<!-- end page title -->