@model IEnumerable<genetrix.Models.DossierParAgence>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomAgence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbrDossiers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomAgence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbrDossiers)
        </td>
        <td>
            <a href="#">Details</a>
        </td>
    </tr>
}

</table>
