<style>
    #preloader1 {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 9999;
    }

    #status1 {
        position: absolute;
        right: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: -20px -20px 0 0;
    }
</style>


<div id="preloader1" style="background-color:#ffffff;cursor:wait">
@*<div id="preloader1" style="background-color:transparent;">*@
    <!--<div id="status1" class="card1" style="height:60px;width:60px;background-color:#ffffff;text-align:center">
        <h2 class="text-center hidden" style="color:#0094ff;font-weight:bolder">Genetrix</h2>-->
        @*<i class="mdi mdi-spin mdi-loading fs-1 text-dark" style="font-weight: bolder"></i>*@
        <!--<div>  
         <h4 class="text-dark hidden" style="text-align:center;">Veuillez patienter...</h4>
        </div>
    </div>-->
</div>

