<div id="preloader" style="background-color:rgb(255, 255 ,255 , 0.56)">
    <div id="status" style="background-color:rgb(255, 255 ,255 , 0.77)">
        <div class="spinner1">
            <i class="uil-shutter-alt1 spin-icon1"></i>
        </div>
        @*<img src="~/assets/images/IU/loading.gif" alt="" />*@
        @*<i class="mdi mdi-spin mdi-loading fs-1 text-dark" style="max-height:30px;max-width:30px"></i>*@
        @*<p class="text-danger hide" style="text-align:center;margin-left:-20px;display:none">Veuillez patienter111...</p>*@
    </div>
</div>
