@using genetrix.Models
<div class="modal fade" id="modal-actions-dossier" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="extract" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="text-align:center!important;width:40%!important;">
        <div class="modal-content badge border border-3 p-0 text-dark" style="text-align:left!important;position:center">
            <div class="modal-header m-0">
                <h5 class="modal-title mt-0" id="extract" style="font:bold"><i class="mdi mdi-circle-double"></i> Actions</h5>
                <button type="button" class="btn-close bg-white" id="modal-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="overflow:hidden;padding:0px;height:220px">
                <iframe src="" style="height:100%;width:100%;margin:0px" etat="0" id="iframe-model-action"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

</script>