
<div id="modal-details-carte" class="modal fade" tabindex="-1" aria-labelledby="#modaldetailscarte" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title mt-0 text-white" id="modaldetailscarte">Workflow du dossier</h5>*@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-x:hidden">
               <blockquote id="carte-desc">

               </blockquote>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
