@model IEnumerable<genetrix.Models.Dossier>

"<table class=\"table\">"
+"<tr>"
+"<th>"
+"N°"
+"</th>"
+"<th> "
+"Montant"
+"</th>"
+"<th>Devise</th>"
+"<th> "
+"Fournisseur"
+"</th>"
+"<th> "
+"Depot banque "
+"</th>"
+"<th> "
+"Traité"
+"</th>"
+"<th> "
+"Agence"
+"</th>"
+"<th> "
+"Banque"
+"</th>"
+"</tr>"
+" "
+"foreach (var item in Model) {"
+"<tr> "
+"<td> "
+"item.NumeroDossier"
+"</td>"
+"<td> "
+"item.Montant"
+"</td>"
+"<td> "
+"item.DeviseMonetaire.Nom"
+"</td>"
+"<td> "
+"item.Fournisseur.Nom"
+"</td>"
+"<td> "
+"item.DateDepotBank"
+"</td>"
+"<td> "
+"item.Traité "
+"</td>"
+" "
+"<td> "
+"item.Site.Nom"
+"</td>"
+" "
+"<td> "
+"item.Site.Banque.Nom"
+"</td>"
+"</tr>"
+"}"
+" "
+"</table>"
